<div class="thread-menu" style="display:none;">
  <p class="menu-list-item open-recent"><%= msg['label.thread.open.recent'] %></p>
  <p class="menu-list-item close-expired"><%= msg['label.thread.close.expired'] %></p>
</div>
