<div class="board" id="thread-list-<%= board.boardKey %>" style="display:none;">
  <div class="thread-list-filter-container">
    <form class="thread-list-filter"><input type="text"></form>
  </div>
  <ul class="thread-list"></ul>
</div>
