<div class="thread" id="thread-<%= thread.id() %>" style="display:none;">
  <div class="comment-list-tool-bar">
    <div class="comment-list-up-button">up</div>
    <div class="comment-list-link-button">link</div>
    <div class="comment-list-image-button">img</div>
    <!-- <div class="comment-list-twitter-button">twitter</div> -->
    <div class="comment-list-down-button">down</div>
  </div>
  <div class="comment-list"></div>
</div>
