/* 要素を指定する css は smell だってよ！！！ */

@charset 'UTF-8';

@import "lib/font.less";
@import "lib/variables.less";

/* temporary */
@import "lib/ligature-symbols.less";

.pictgram {
    .ligature-symbols;

    font-size: 28px;
    border: 0px solid black;
    background-color: transparent;
    color: #555;
    text-shadow: 0 1px 1px #fff;
    padding-top: 2px;
    margin-top: 0;
    text-decoration: none;
}
.pictgram:hover {
    color: #335;
    text-shadow: 0 2px 1px #f0f0f0, 0 0px 5px #55f;
}

/* parts class */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.box-layout {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    min-width:1px;
    min-height:1px;
}

.hbox {
    .box-layout;
}

.hbox-reverse {
    .hbox;
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    -ms-box-direction: reverse;
    -o-box-direction: reverse;
    box-direction: reverse;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-box-pack: end;
    -o-box-pack: end;
    box-pack: end;
}

.vbox {
    .box-layout;
    -moz-box-orient:vertical;
    -webkit-box-orient:vertical;
    -ms-box-orient:vertical;
    -o-box-orient:vertical;
    box-orient:vertical;
}

.box-flex {
    -moz-box-flex:1;
    -webkit-box-flex:1;
    -ms-box-flex:1;
    -o-box-flex:1;
}

.gradation-bar {
    /* Chrome10+,Safari5.1+ */
    background: #bbbbbb;
    background: -moz-linear-gradient(top, #e6e6e6 0%,#bbbbbb 100%);
    /* background: #c0c0c0; // e8 までのグラデーションに. */
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0,rgba(255, 255, 255, 0.7)),
        color-stop(1, rgba(255, 255, 255, 0))
    );
}

.tab {
    margin:0;
    padding:0;
    padding: 2px;
}

.tab-item {
    float: left;
    margin: 2px;
    padding: 2px 2px 0 2px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    font-size: small;
    color: #888;
    text-shadow: 0 1px 1px #fff;
    cursor: pointer;

    border: 1px solid #ccc;
    border-radius: 3px;

    .delete-tab-button {
        .ligature-symbols;
        font-size: large;
    }

    &.selected {
        color: #222;
        border-top: 1px solid #eee;
        border-left: 1px solid #eee;
        border-right: 1px solid rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.2);
        background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#e0e0e0),to(#ccc));
    }
}

.page-header {
    height: @page-header-height;
    border-bottom: 1px solid #999;
    .hbox;
    .gradation-bar;
    .header-center {
        .box-flex;
    }
}
.page-content {
    min-height:1px;
    min-width:1px;
    .box-flex;
}
.page-footer {
    height: @page-footer-height;
    border-top: 1px solid #999;
    .hbox;
    .gradation-bar;
    .footer-center {
        .box-flex;
    }
}


/* whole */

html, body {
    margin: 0;
    /* font-size: 14px; */
    height:100%;
}

#app-container {
    .hbox;
    height:100%;
    width:100%;
}
/* common */
@import "lib/popup.less";
/* page */
@import "lib/bbs.less";
@import "lib/board.less";
@import "lib/thread.less";
/* old style sheet */
@import "lib/comment.less";
@import "lib/config.less";
